body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: none;
	padding: none;
	height: inherit;
	width: inherit;
	background-color: #f9fafc;
}

html {
	background-color: #f9fafc;
	height: 98vh;
	width: inherit;
	margin: none;
	padding: none;
}
